{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <h2>Our Selection</h2>
          <p>Wear a t-shirt, that makes you happy.</p>
        </div>
      </div>
    </div>    
    {% if articles %}
      <div class="row row-0-gutter">
        {% for article in (articles_page.object_list if articles_page else articles) %}  
          {{loop.cycle('</div><div class="row row-0-gutter">', '')}}
          <div class="col-md-6 col-0-gutter">
            <div class="ot-portfolio-item">
              <figure class="effect-bubba">
                <img src="{{SITEURL}}{{article.image}}" alt="article-img-{{article.slug}}" class="img-responsive" />
                <figcaption>
                  <h2>{{article.title}}</h2>
                  <p>{{article.caption}}</p>
                  <a href="#" data-toggle="modal" data-target="article-modal-{{article.slug}}">View more</a>
                </figcaption>
              </figure>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
{% endblock %}

{% block articles_modal %}
{% if articles %}
{% for article in (articles_page.object_list if articles_page else articles) %}
<div class="modal fade" id="article-modal-{{article.slug}}" tabindex="-1" role="dialog" aria-labelledby="article-label-{{article.title}}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="article-title-{{article.slug}}">{{article.title}}</h4>
      </div>
      <div class="modal-body">
        <img src="{{SITEURL}}{{article.image}}" alt="article-img-{{article.slug}}" class="img-responsive" />
        <div class="modal-works">
          {% for tag in article.tags %}
            <span>{{tag}}</span>
          {% endfor %}
        </div>
        <p>
          {{article.content}}
        </p>
        <p>
          <a href="{{article.buyurl}}" target="_blank" class="btn btn-primary">Order your T-Shirt</a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}